@import "tailwindcss";   /* v4-стиль */

html, body, #root { height: 100%; }
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  background: transparent;
}
@import "leaflet/dist/leaflet.css";